<h2>Fill out the following survey to find out if you owe a health care penalty:</h2>
<br/>
<form>
  <div class="field">
    <label for="insurance">How many months did you have qualified health insurance for in 2015?</label>
    <input type="number" class="insurance">
  </div>
  <div class="field">
    <label for="income">Income:</label>
    <input type="number" class="income-earned" >
  </div>
  <div class="field">
    <label for="filing_status">Filing Status:</label>
    <select class="filing-status">
    <option value="Single">Single</option>
    <option value="MFJ">Married Filing Jointly</option>
    <option value="MFS">Married Filing Separately</option>
    <option value="HOH">Head of Household</option>
    <option value="QW">Qualifying Widower</option>
  </select>
  </div>
  <input type="submit" class="aca">
</form>
<br></br>
<h3><a href="https://www.healthcare.gov/health-coverage-exemptions/forms-how-to-apply/">Click here to find out if you qualify for an exemption from the penalty</a></h3>
