<h2>Fill out the following survey to find out if you are eligible for a student loan interest deduction:</h2>
<br/>
<form>
  <div class="field">
    <label for="claimed">Are you being claimed on anyone else's return?</label>
    <select class="claimed">
    <option value="yes">Yes</option>
    <option value="no">No</option>
    </select>
  </div>
  <div class="field">
    <label for="interest">Did you pay interest on a qualified student loan?</label>
    <select class="interest">
    <option value="yes" >Yes</option>
    <option value="no" >No</option>
    </select>
  </div>
  <div class="field">
    <label for="income">Income:</label>
    <input type="number" class="salary" >
  </div>
  <div class="field">
    <label for="filing_status">Filing Status:</label>
    <select class="file-as">
    <option value="Single" >Single</option>
    <option value="MFJ" >Married Filing Jointly</option>
    <option value="MFS" >Married Filing Separately</option>
    <option value="HOH" >Head of Household</option>
    <option value="QW" >Qualifying Widower</option>
  </select>
  </div>
  <input type="submit" class="student">

</form>
