<h2>Fill out the following survey to find out if you need to file federal taxes:</h2>
<br/>
<form>
  <div class="field">
    <label for="age">Age:</label>
    <input type="number" class="age" >
  </div>
  <div class="field">
    <label for="income">Income:</label>
    <input type="number" class="income" >
  </div>
  <div class="field">
    <label for="filing_status">Filing Status:</label>
  <select class="status">
  <option value="Single">Single</option>
  <option value="MFJ">Married Filing Jointly</option>
  <option value="MFS">Married Filing Separately</option>
  <option value="HOH">Head of Household</option>
  <option value="QW">Qualifying Widower</option>
</select>
  </div>
  <input type="submit" class="file">
</form>
