<h2>Find the state tax bracket and marginal tax rate for your income range:</h2>
<div class="field">
  <label for="filing_status">Filing Status:</label>
<select class="filing">
<option value="Single">Single</option>
<option value="MFJ">Married Filing Jointly</option>
<option value="MFS">Married Filing Separately</option>
<option value="HOH">Head of Household</option>
</select>
</div>
<div class="field">
  <label for="marginal_rate">Choose a State:</label>
  <select class="rate">
  <option value="NY">NY</option>
  <option value="NJ">NJ</option>
</select>
</div>
<input type="submit"class ="state">
<br></br>
<div class="result">
</div>
